MONGODB_URI="mongodb+srv://<USERNAME>:<PASSWORD>@<CLUSTER_HOST>/"
MONGODB_DB="novacart"

# gmail 또는 naver 중 하나를 선택하세요.
SMTP_PROVIDER="gmail"

# Gmail 설정
GMAIL_SMTP_HOST="smtp.gmail.com"
GMAIL_SMTP_PORT="587"
GMAIL_SMTP_USER=""
GMAIL_SMTP_PASS=""
GMAIL_SMTP_FROM=""

# Naver 설정
NAVER_SMTP_HOST="smtp.naver.com"
NAVER_SMTP_PORT="587"
NAVER_SMTP_USER=""
NAVER_SMTP_PASS=""
NAVER_SMTP_FROM=""
